/* *{
    box-sizing: border-box;
    border: 1px solid green;
} */


html, body{
    background: url(../images/bg-stone-grey.jpg) center center  no-repeat;
    background-size: cover;
}


.none{
    display: none;
}

.truncate{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
    /* word-wrap: break-word; */
}
.truncate:hover{
    color: #743CF5;
}
.focus{
    box-shadow:0 0 3px #CCCCCC;
    background-color: #F4F4F4;
    outline: none;
}

.nav-row{
    height:10px;
}

/* ----------------------------- */
.form-wrapper{
 
    margin: 0 auto;
    padding: 1px;
}


/* ---------- 購物車內容 ----------  */

.cform{
    border: 1px solid #CCCCCC;
    background-color: white;
}

/* 購物車內容-標題 */
.heading{
    background-color: #CCCCCC;
    /* border-bottom: 0.5px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 0 auto;
    /* width: auto; */
}
/*  */
h5{
    text-align: center;
}

/* 繼續購物按鈕 */
.continue{
    width: 100px;
    color: #743CF5;
    font-size: 14px;
    letter-spacing: 2px;
    border: 2px solid #743CF5;
    border-radius: 30px;
    text-align: center;
    transition: 0.5s;
}

.continue:hover{
    color: white;
    text-decoration: none;
    background-color: #743CF5;
}

/* 項目-小標 */
.table-head{
    display: grid;
    grid-template-columns: 60% 11% 16% 13%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}

.table-head li{
    text-align: center;
}

.table-head li.p-header{
    text-align: left;
}

.cart-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}
.hr-b{
    margin: 5px;
}

/* 商品明細內容 */

.checkout-form {
    background: #fff;
}

.cart-section{
    display: flex;
    
    /* vertical-align: middle; */
}

.p-desc{
    display: block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.info-wrap{
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 59% 14% 14% 14%;
}


/* 產品圖 */
.item-imgdiv{
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  overflow: hidden;
    
}
.item-img{
    height: 100%;
    width: 100%; 
    object-fit: contain;
   
}

/* 數量控制按鈕 */
.qty-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus-button, .plus-button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    color: #999999;
}

.minus-button:focus, .plus-button:focus{
    box-shadow:0 0 3px #999;
    outline:  none;
}

.qn{
    width: 30px;
    height: 30px;
    border: solid 1px #CCCCCC; 
}

.qn:focus{
    border-color: #CCCCCC;
    box-shadow:0 0 3px #999999;
    outline: none;
}

/* 小計, 刪除鍵 */
.sub-total{
    text-align: center;
}
.sub-total, .remove-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.times{
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-btn{
    border: none;
    background-color: transparent;
    height:20px;
    color:#999999;
}

.remove-btn:hover{
    color:#743CF5;
}


/* 寄送規定提醒 */
.caution-notice{
    color:#743CF5;
    text-align: center;
}


/* ---------- 配送 ----------  */
   
.delivery-options{
    display: flex;
    margin: 0 auto;
}

.option >ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   text-align: center;
}

label>img{
    max-width: 80px;
    height: 30px;
}

.btn-group p {
    font-size: 14px;
}

.delivery-btn{
    cursor: pointer;
    width: 120px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.delivery-btn:focus{
    box-shadow:0 0 3px #CCCCCC;
    background-color: #F4F4F4;
    outline: none;
}
.delivery-btn-disabled{
    cursor: not-allowed;
    width: 120px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    opacity: .5;
}
.delivery-btn-disabled:focus{
    box-shadow:0 0 0px #ffffff;
    background-color: transparent;
    outline: none;
}

.c-store > p{
    position: relative;
}
.option-title{
    border-bottom:1px solid  #743CF5; 
} 


/* .c-store > p::before{
    content:"";
    position: absolute;
    top: 83%;
    background-color: #743CF5;
    width: 97px;
    height: 2px;
} */

.express > p{
    position: relative;
}

/* .express > p::before{
    content:"";
    position: absolute;
    top: 83%;
    background-color: #743CF5;
    width: 32px;
    height: 2px;
} */


/* ---------- 收件資料 ----------  */

.shipping-box{
    display: flex;
}

.info-box{
    display:flex;
}

.delivery-info{
    display: flex;
    justify-content: center;
}

.recipient-info, .area-info{
    display: flex;
    /* justify-content: space-around; */
}

.county-style, .district-style{
    max-width: 227px;
    height: 37px;
    border: solid 1px #999999; 
    border-radius: 4px;
    padding: 0px 15px;
}

.county-style:focus, .district-style:focus, .zipcode-style:focus{
    border-color: #ccc;
    box-shadow:0 0 3px #999;
    outline: none;
}

.zipcode-style{
    max-width: 100px;
    height: 37px;
    text-align: center;
    border: solid 1px #999999; 
    border-radius: 4px;
}

.add{
    max-width: 580px;
}

/* ---------- 發票類型 ----------  */

.invoice-type, .invoice-text{
    display:flex;
    justify-content: center;
}

.invoice-rules-title{
    max-width: 550px;
    border: 1px solid #999999;
    border-radius: 4px;
    color:#999999;
}
.exbtnclick{
    background-color: #666;
}

/* ---------- 折扣碼 ----------  */

.coupon-grid{
    display: flex;
    margin-left: 22px;
    /* justify-content: center; */
    align-items: center;
    position: relative
    /* border: solid 1px #CCCCCC;  */
}

.coupon-text{
    border: solid 1px #999999; 
    border-radius: 4px;
    color:#333;
    margin-left:70px 
}

.coupon-text:focus{
    border-color: #ccc;
    box-shadow:0 0 3px #999;
    outline: none;
}

.coupon-text::placeholder{
    font-size: 14px;
    color:#ccc;
}

.coupon-btn{
    /* width: 100px; */
    background-color: #743CF5;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
    color:white!important;
    text-decoration: none;
    transition: 0.8s;
}

.coupon-btn:hover{
    color:#333333!important;
    background-color: #75FB4E;
    text-decoration: none;
}

.checkText{
    position: absolute;
    top: 35px;
    left: 312px;
    display: none;
    /* transition:.5s */
}
.checkText.hide{
    color:red
    /* display: none; */
}
.checkText.show{
    /* display: block; */
    color:blue
}
/* ---------- 結帳金額 ----------  */

/* .cart-sub-total{
    position: fixed;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
   */
/* } */

.detail-item-list{
    /* background-color: white;
    border: 1px solid #CCCCCC; */
    width: 250px;
    border-radius: 4px;
}

.list-title{
    background-color:#CCCCCC;
}

.list-row{
    display: flex;
    justify-content: space-between;
}


/* ---------- 立即付款 ----------  */
.payment-cta{
    display: flex;
    
}




@media screen and (max-width:767px){

/* 產品圖片 */
.item-img {
    max-width: 65px;
    max-height: 65px;
}

/*折扣碼輸入欄位*/
.coupon-text{
    width: 150px;
}

/* 滑板手背景圖不顯示 */
.cart-sub-total{
    background: none;
}


}


@media only screen and (max-width: 768px){

.recipient-info, .info-box{
    flex-direction: column;
}

/* 繼續購物按鈕 */
.continue{
    border: none;
}

.continue:hover{
    color: #743CF5;
    background-color: transparent;
}



/* 數量控制按鈕 */
.minus-button, .plus-button{
    display: none;
}

/* 小計 */
.sub-total{
    font-size: 13px;
}



 /* 項目-小標 */
.table-head{
   
} 
.table-head li{
   font-size: 13px;
  
}

/* 寄送規定提醒 */
.caution-text{
    font-size: 14px;
}

/*發票類型顯示*/
.invoice-type{
    display:flex;
    flex-direction: column;
}



}


@media only screen and (max-width: 1000px){

html, body{
    background: white;
}

/* 商品明細內容 */
.cart-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-dimension, .item-dimension span{
    font-size: 12px;
}
/* #checkout-button{
    margin-left: auto;
} */

/*配送*/
.delivery-options{
    display: flex;
    flex-direction: column;
}

.btn > div {
    font-size: 14px;
    height: 15px;
}



}
.subnitBtnRight{
    position:relative;
    height: 44px;
}
/* .subnitBtnRight button#checkout-button{
    position: absolute;
    right:0px;
} */


/* @media only screen and (max-width: 1200px){





} */