body{
  overflow-x: hidden;
}


.bread-now{
  font-weight: bold;
}
  .item-list-bread{
    color: #999;
  }
  .item-list-bread a {
    font-size: 14px;
    color: #999;
  }
  .item-list-bread a:hover {
    font-size: 14px;
    color: #999;
    text-decoration: none;
  }
  .item-list-breadLine {
    border-bottom: solid 1px #999;
  }
  .item-list-bread  img{
    margin-top: -5px;
  }
  .detail-div {
    margin-top: 20px;
  }

  .itemimgmain2 {
    width: 500px;
    height: 450px;

  }
  .itemdetail-nbp{
    height:250px
  }
  .itemdetail-name{
  max-height: 110px;
  }
  .itemimgmain-img {
    width: 100%;
    height: 100%;
    background: #fff;
    object-fit: contain;
  }

  .lightSlider li {
    margin: 0 auto;
  }

  .itemdetail-name {
    font-weight: 600;
  }


  .itemdetail-bd {
    border-bottom: 1px solid #743CF5;
    text-decoration: none;

  }

  .itemdetail-bd:hover {
    color: #743CF5;
    text-decoration: none;
  }

  .itemdetail-form-div {
    margin-top: 5px;
  }

  .itemdetail-size {
    margin-top: 5px;
  }

  .itemdetail-price {
    font-weight: bold;
  }

  .form-control {
    width: 90%;
  }

 #itemdeatil-select {
    border: 1.5px solid #743CF5;
    color: #743CF5;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/Group 2.svg") 95% center no-repeat;
    background-size: 15px;
     width: 90%;

  }

  #itemdeatil-select:focus {
    outline: none;
    color: #743CF5;
    border: 1.5px solid #743CF5;
    box-shadow: none;
  }
  select.decorated option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset ;
}
  .itemdeatil-option {
    -webkit-appearance: none;
    appearance: none;
  }

  .itemdetail-quantity-div {
    width: 90%;
    margin-top: 15px;
    margin-bottom: -15px;
  }

  .itemdetail-stock {
    line-height: 28px;
  }

  .itemdetail-quantity-add-div {
    width: 90%;
    border: 1.5px solid #743CF5;
    background: #743CF5;
    border-radius: 4px;
    margin: 0;
    height: 32px;
  }

  .itemdetail-min,
  .itemdetail-add {
    border-radius: 4px;
    border: 1.5px solid #743CF5;
    background: #743CF5;
    color: white;
    margin: 0 auto;
    width: 30px;
    text-align: center;
  }

  .itemdetail-min:focus,
  .itemdetail-add:focus {
    outline: none;
  }

  .itemdetail-min-disable {
    opacity: 0.5;
  }

  .itemdetail-text-box {
    border: 0;
    text-align: center;
    margin: 0;
    width: 75%;
  }

  .itemdetail-text-box:focus {
    outline: none;
  }

  .itemdetail-addtocart {
    margin-top: 15px;
    width: 90%;
  }

  .itemdetail-like-rating {
    margin-top: 30px;
    width: 90%;
  }

  .m-itemdetail-addtocart {
    display: none;
  }

  .itemdetail-hr {
    border: 0;
    border-bottom: 1px solid #999;
  }
  .itemdetail-introduction-div{
    margin-bottom: 10px;
  }
  .itemdetail-introduction {
    padding: 0;
  }

  .itemdetail-intro {
    padding:10px 20px;
    margin: 10px 10px;
    cursor: pointer;
  }
  .itemdetail-introduction-se{
    width: 100%;
  }
  .itemdetail-intro-se{
    min-height: 150px;
    display: none;
  }

  .itemdetail-intro-se-show{
    display: flex;
  }
  .itemdetail-intro-se-showcss{
    background: #743CF5;
    border-radius: 4px ;
    color: white;
    box-shadow: 2px 2px 2px #999;
  }

  .i-idiv{
    width: 100%;
  }

  .i-idiv >img{
    height: 300px;
  }


  .itemdetail-intro-se3{
    flex-direction: column;
  }

  .itemdetail-intro-logo{
    width:30%;
    overflow: hidden;
    margin-right: 10%;
   
  }
  .itemdetail-intro-logo >img{
    width:100%;
    object-fit: contain;
  }
  .itemdetail-intro-in{
    width:60%;
  }
  .itemdetail-comment-div{
    height:40px;
    width:100%;
    padding-left:0;
    text-align:center;
    margin-top:5px;
  }
  .itemdetail-intro-se {
    width: 100%;
  }
  .itemdetail-cp-div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .itemdetail-comment-li{
    margin-bottom: 10px;
   
  }
  .itemdetail-customer-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .itemdetail-customer-name{
    line-height: 40px;
    width: 20%;
    height: 40px;
  }
  .itemdetail-customer-rating{
    line-height: 40px;
    height: 40px;
    width: 20%;
  }
  .itemdetail-customer-rating-contents{
    width:11em;
    overflow:hidden;
  }
  .itd-rating-contents{
    width:11em;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom: 0;
  }
  .itemdetail-comment-page{
    width: 100%;
    margin:0px 0 0 0;
    display: block;
    line-height: 40px;
    height: 40px;
    text-align: center;
  }
  .itemdetail-related-div{
    margin-top: 20px;
  }
  .itemdetail-r-title{
    margin: 0 auto;
  }
  .itemdetail-related{
    background: url(../images/Group\ 446.svg) left center no-repeat;
    text-align: center;
  }
  .itemdetail-related-pic{
   width: 80%;
   margin: 0 auto;
   margin-top: 20px; 
  }
  .demo{
    max-width:80%;
  }

  
.slick-dots{
  display: none;
}

.slider {
    width: 100%;
    margin: 50px auto;
    
  }

.slick-slide {
  margin: 0px 20px;
}



.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.detail-item-img-div{
  height:380px;
  
  vertical-align: middle;
  text-align: center;
}

.detail-item-img-div >img{
  margin: 0 auto;
  height:80%;
  vertical-align:middle
}


.slider-price{
font-weight: 600;
}

.aa-a{
  height:60px
}
.itemdetail-name-div{
  position: relative;
  overflow: hidden;
}
.itemdetail-name-div:hover .hoverGreen{
  animation: hoverGreen 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hoverGreen{
  position: absolute;
  top: 20px;
  left: 0%;
  width: 0%;
  height: 50%;
  background: #75FB4E;
  z-index: -1;
}
@keyframes hoverGreen{
  0%{
    left: 0%;
    width: 0%;
  }
  50%{
    left: 0px;
    width: 100%;
  }
  100%{
    left: 100%;
    width: 100%;
  }
}

.decorationImg{
  position: fixed;
  opacity: .2;
}
.deco_cruiser{
  transform: rotate(40deg) translateX(-50%) scale(.5);
}
.deco_trucks{
  transform:rotate(20deg) scale(.4);
  position: absolute;
  top:70vh;
  left:-200px;
}
.deco_bearings{
  transform:rotate(50deg) scale(.2);
  position: absolute;
  top:10vh;
  left:100px;
}
.decorationImg .bearings2{
  transform:rotate(0deg) scale(.2);
  top:63vh;
  left:100px;
}
.deco_wheels{
  transform:rotate(-50deg) scale(.2);
  position: absolute;
  top:50vh;
  left:100px;
}
.deco_griptape{
  transform:rotate(-50deg) scale(.8);
  position: absolute;
  top:50vh;
  left:90vw;
}
.deco_deck{
  transform:rotate(0deg) scale(.8);
  position: absolute;
  top:-20vh;
  left:90vw;
}
.wheels2{
  transform:rotate(-150deg) scale(.2);
  position: absolute;
  top:70vh;
  left:80vw;  
}



   /* .itemdeatil-option:hover{
-webkit-appearance:none; 
 appearance:none;
}
.itemdeatil-option-hover{
  background: rgba(116, 60, 245, 0.959) ;
}
*/


/* ------------相關產品slider---------------- */















  @media only screen and (max-width: 415px) {
    .itemdetail-name-div {
      margin-top: 15px;
    }

    .detail-info-div {
      width: 95%;
    }

    .itemdetail-size-div {

      margin: 0 auto;
    }

    .itemdeatil-select {
      width: 100%;
    }

    .itemdetail-quantity-div {
      width: 100%;
    }

    .itemdetail-quantity-add-div {
      width: 100%;
      height: 38px;
    }

    .itemdetail-addtocart {
      display: none;
    }

    .m-itemdetail-addtocart {
      width: 100vw;
      display: block;
      position: fixed;
      z-index: 99;
      border-radius: 0;
      bottom: 0px;
      right: 0;
      margin: 0 ;
    }

    .itemdetail-like-rating {
      width: 100%;
    }
    .item-list-bread{
      
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    #itemdeatil-select ,#itemdeatil-select>option{
      width: 100%;
    }
    .itemdetail-intro {
      padding:20px 10px;
      margin: 0;

    }
    .decorationImg{
      display: none;
    }

  }