    
    .j-nav{
        height: 100px;
        background: #ffffff;
    }
    /* --bg-------------- */
    .d1-bg{
        position: absolute;
        left: 0px;
        height: calc(100vh - 100px);
        width: 30%;
    }
    @media screen and (max-width:1199px){
        .d1-bg{
            display: none;
        }
    }
    /* ---progress bar--------------- */
    .d1-progressBar{
        justify-content: center;
    }
    .d1-ball0{
        height: 50px;
        width: 50px;
        border: solid 2px #743CF5;
        border-radius: 100px;
        margin: 20px 30px;
        position: relative;
        /* background: #fff; */
    }
    .d1-ball0::after{
        content: "";
    }
    .d1-ball::after{
        content: "";
        position: absolute;
        z-index: -1;
        top:22px;
        left: 40px;
        display: inline-block;
        width: 70px;
        border: 2px solid #743CF5;
    }
    .d1-ballNum{
        line-height: 45px;
        font-weight: 600;
    }
    .d1-progressBarInfo{
        justify-content: center;
        /* padding: 20px; */
    }
    .d1-progressBarInfo .tip{
        padding: 0 27px;
        margin-top: -10px;
    }
    @media screen and (max-width: 992px){
        .d1-hide-m{
            display: none !important;
        }
    }
    /* ---d1-content--------------------- */
    .d1-content{
        margin-top: 50px;
    }
    .d1-coverimgLine{
        height: 100%;
        width: 30px;
        /* border: solid red 12px; */
    }
    .d1-title{
        position:relative;
    }
    .d1-title::before{
        content:"";
        border: #743CF5 2px solid;
        margin-right: 20px;
    }
    .d1-titlePic{
        position: absolute;
        top:20px;
        left: 10px;
    }

    @media screen and (max-width:1199px){
        .d1-coveimgsection{
            justify-content: center;
            /* align-items: center; */
        }
        .d1-coverimg{
            height: 92%;
        }
        .d1-coverimgLine{
            display: none;
        }
    }
    @media screen and (max-width:991px){
        .d1-coverimg{
            display: none;
        }
        .d1-title{
            text-align: center;
        }
        .d1-titlePic{
            left: 300px;
        }
    }
    @media screen and (max-width:767px){
        .d1-title{
            display: none;
        }
        .d1-titlePic{
            display: none;
        }
    }
    /* ---option-------- */
    .d1-optionbox{
        margin-top: 50px;
        padding: 20px;
        border: solid 1px #743CF5;
        border-radius: 4px;
    }
    .d1-Button{
            text-align: right;
        }
    @media screen and (max-width:1199px){
        .d1-optionbox{
        margin-top: 20px;
        }
    }

    @media screen and (max-width:991px){
        .d1-optionbox{
            border-top: solid 8px #743CF5;
            border-radius: 4px;
        }
        .d1-optionbox .title,.d1-optionbox .tip{
            text-align: center;
        }
        .d1-Button{
            text-align: center;
        }
    }