
    /* ---標題----------------- */
    .d2-title{
        position:relative;
        text-align: right;
    }
    .d2-title::before{
        content:"";
        border: #743CF5 2px solid;
        margin-right: 20px;
    }
    .d2-titlePic{
        position: absolute;
        top:20px;
        left: 240px;
    }
    @media screen and (max-width:1199px){
        .d2-titlegroup{
            display: none !important;
        }
    }
    /* ---按鈕------------------ */
    .d2-bt-w{
        border:1px solid #ffffff;
        padding:10px 20px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        background:none;
        color:white;
        transition: .5s;   
    }
    .d2-bt-w:hover{
        background:#ffffff;
        color:#743CF5;
        text-decoration: none;
    }

    @media screen and (max-width:575px){
        
    }
    /*---交通板區塊---------------*/
    .d2-cruisersection{
        margin-top: 30px;
        width: 50%;
        height: calc(100vh - 297px);
        position: relative;
        overflow: hidden;
        transition: .5s;
    }
    .d2-cruisersection.long{
        width: 60%;
    }
    .d2-cruisersection.short{
        width: 40%;
    }
    .d2-cruisersection.fullshort{
        width: 0%;
    }
    .d2-skateboard1-cruiser{
        font-size: 60px;
        transform: rotate(-90deg);
        position: absolute;
        top:80px;
        right:75%;
    }
    .d2-skateboard1-cruiser2{
        font-size: 140px;
        transform: rotate(-90deg);
        position: absolute;
        left:-120px;
        top:140px;
        opacity: .3;
        transition: .5s;
    }
    .d2-skateboard1-cruiser2.hide{
        top:-340px;
        opacity: 0;
        transition: .5s;
    }
    .d2-skateboard1{
        height: 500px;
        position: absolute;
        left: 35%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: .5s;
    }
    .d2-skateboard1.big{
        height:600px;
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.3));
    }
    .d2-button1{
        transition: .5s;
        position: absolute;
        right: 100px;
        bottom: 150px;
    }
    .d2-skateboard-1-info{
        position: absolute;
        left: 70%;     
        top: 45%;
        transform: translate(-50%,-50%);
        width: 250px;
        transition: .5s
    }
    @media screen and (max-width:1199px){
        .d2-section{
            flex-direction: column-reverse;
        }
        .d2-cruisersection{
            width: 100%;
            position: relative;
            overflow: hidden;
            transition: .5s;
            height: calc(80vh)
        }
        .d2-button1{
            bottom: 100px;
        }
    }
    @media screen and (max-width:575px){
        .d2-cruisersection{
            border-radius: 50px 0 0 0;
            height: 70vh;
        }
        .d2-skateboard1{
            position: absolute;
            left: 90%;
            top: 20%;
            transform: translate(-50%,-50%) rotate(-90deg);
            transition: .5s;
        }
        .d2-skateboard-1-info{
            position: absolute;
            left: 50%; 
            top: 60%;
            transform: translate(-50%,-50%);
            width: 320px;
            transition: .5s
        }
        .d2-skateboard-1-info .content{
            font-size: 14px;
        }
        .d2-button1{
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            bottom: 10px;
        }
        .d2-skateboard1-cruiser{ 
            display: none;
        }
    }
    /*---技術板區塊---------------*/
    .d2-skateboardsection{
        margin-top: 30px;
        width: 50%;
        height: calc(100vh - 297px);
        position: relative;
        overflow: hidden;
        transition: .5s;
        /* border: solid 2px red; */
    }
    .d2-skateboardsection.fulllong{
        width: 100%;
        transition-delay: .1s;
    }
    .d2-skateboardsection.long{
        width: 60%;
    }
    .d2-skateboardsection.short{
        width: 40%;
    }
    .d2-skateboard2-skateboard{
        font-size: 60px;
        transform: rotate(-90deg);
        position: absolute;
        /* top:80px; */
        top:130px;
        right:65%;
    }
    .d2-skateboard2-skateboard2{
        font-size: 100px;
        transform: rotate(-90deg);
        position: absolute;
        /* right:720px; */
        right:60%;
        top:190px;
        opacity: .3;
        transition: .5s;
    }
    .d2-skateboard2-skateboard2.hide{
        top:-340px;
        opacity: 0;
    }
    .d2-skateboard2{
        height: 500px;
        position: absolute;
        left: 35%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: .5s;
    }
    .d2-skateboard2.dropdown_mode{
        left: 35%;
    }
    .d2-skateboard2.big{
        height:600px;
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.3));
    }
    .d2-button2{
        transition: .5s;
        position: absolute;
        right: 100px;
        bottom: 150px;
    }
    .d2-button2.hide{
        display: none;
    }
    .d2-skateboard-2-info{
        position: absolute;
        left: 70%;     
        top: 45%;
        transform: translate(-50%,-50%);
        width: 250px;
        transition: .5s
    }
    .d2-skateboard-2-info.dropdown_mode{
        left: 50%;
    }
    @media screen and (max-width:1199px){
        .d2-skateboardsection{
            width: 100%;
            position: relative;
            overflow: hidden;
            transition: .5s;
            height: calc(80vh)
        }
        .d2-button2{
            bottom: 100px;
        }
    }
    @media screen and (max-width:575px){
        .d2-skateboard2{
            position: absolute;
            left: 85%;
            top: 20%;
            transform: translate(-50%,-50%) rotate(-90deg);
            transition: .5s;
        }
        .d2-skateboardsection{
            margin-top: 0px;
            height: 70vh;
        }
        .d2-skateboard-2-info{
            position: absolute;
            left: 50%; 
            top: 60%;
            transform: translate(-50%,-50%);
            width: 320px;
            margin-bottom: 50px;
        }
        .d2-skateboard-2-info .content{
            font-size: 14px;
        }
        .d2-button2{
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            bottom: 10px;
        }
        .d2-skateboard2-skateboard{ 
            display: none;
        }
    }
    /*---選單-------------- */
    .d2-dropdownsection{
        position: absolute;
        top:30%;
        right: 30%;
        display: none;
    }
    .d2-dropdownsection.show{
        display: block;
    }
    .d2-back{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        font-size: 40px;
    }
    .d2-back-hide{
        display: none;
    }
    .d2-dropdownsection-m{
        opacity: 0;
        margin-top: 20px;
    }
    @media screen and (max-width:1199px){
        .d2-dropdownsection-m{
            opacity: 1;
        }
    }
