*:focus{
    outline: none;
}
.d4-bgc{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #ccc;
    opacity: .1;
    /* padding: 0px; */
}
.d4-bgcimg{
    position: absolute;
    width: 45%;
    top: 45vh;
    left: 50%;
    opacity: .5;
    transform: translateX(-50%)
    /* z-index: 99; */
}
canvas{
position: absolute;
top:220px;
left: 50%;
transform: translateX(-50%);
border: none;
cursor: pointer;
}
#stats {
position: absolute;
left: 0;
top: 0;
opacity: 0;
}
.d4-sk8-3d{
height: 750px;
}
@media screen and (max-width: 992px){
    canvas{
        top: 150px;
    }
    .d4-bgcimg{
        width: 80%;
    }
}
@media screen and (max-width:576px){
    .d4-sk8-3d{
    height: 770px;
    }
    .d4-bgcimg{
        width: 90%;
        top: 50vh;
    }
}
/* ---title---------------- */
.d4-title-line{
position: relative;
border: solid 1px #75FB4E;
width: 100%;
}
.d4-title-line::after{
position: absolute;
top: 5px;
content: "";
border: solid 1px #743CF5;
width: 100%;
}
.d4-title{
position: relative;
text-align: center;
}
.d4-titlePic{
position: absolute;
left: 20px;
top: 24px;
}

/* --list--------------- */
.d4-product1{
margin-top: 30px;
}
.d4-product-name{
padding-right: 50px;
text-align: right;
}
.d4-product-price{
    text-align: left;
}
.d4-addtocart{
padding: 0 20px;
color: #743CF5;
transition: .5s;
}
.d4-addtocart:hover{
color: #75FB4E;
}
.d4-addtocart i{
font-size: 24px;
}
.d4-addtolike{
padding: 0 8px;
color: #743CF5;;
transition: .5s;
}
.d4-addtolike:hover{
    color: #75FB4E;
    }
.d4-addtolike i{
font-size: 24px;
}
@media screen and (max-width:767px){
.d4-product-name{
    /* font-size: 14px; */
    padding-right: 10px;
}
.d4-product-price{
padding-right: 30px;
}
}
@media screen and (max-width:576px){
.d4-product-name{
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    padding-right: 10px;
}
.d4-product-price{
    margin-top: 10px;
    font-size: 14px;
    padding-right: 0px;
}
.d4-addtocart, .d4-addtolike{
    /* font-size: 16px; */
    display: none;
}
}
/* ---total--------------- */
.d4-total-text{
position: relative;
z-index: 2;
}
.d4-total-text::before{
position: absolute;
left: 0%;
top: 80%;
content: "";
width: 100%;
border: solid 4px #75FB4E;
}
/* ---btn group----------------- */
.d4-btn-group{
margin-top: 40px;
}
.d4-button1,.d4-button2{
margin: 0 20px;
}
.d4-addtocart i{
    cursor: pointer;
}
#addToCartAll{
    cursor:pointer;
    color: #fff;
}
#addToCartAll:hover{
    color: #333;
}


