nav{
    height: 64px;
    /* background: #ccc; */
}
/* ---banner-------------------- */
.hp-banner{
    margin-top: 120px;
    background: url("../images/background-gray.jpg") no-repeat;
    background-size: cover;
    height: 660px;
    position: relative;
}
.hp-logo{
    height: 400px;
    position: absolute;
    top: 80px;
    left:250px;
    /* z-index: 1000 */
}
.hp-skateline{
    height: 150px;
    position: absolute;
    top: 510px;
    right:750px;
}
.hp-skateboard1{
    height: 800px;
    position: absolute;
    right:550px;
    top:-100px;
}
.hp-skateboard2{
    height: 800px;
    position: absolute;
    right:350px;
    top:-100px;
}
.hp-bannerSquare{
    position: absolute;
    top: 80px;
    right: 100px; 
    border: solid 20px #ffffff;
    height: 500px;
    width: 50%;
}
.hp-bannerSquareBg{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    opacity:.5;
    position: absolute;
    top: 130px;
    /* z-index: 1 */
}
.hp-skateline-m1{
    position: absolute;
    right: -10px;
    top: 350px;
}
.hp-skateline-m2{
    position: absolute;
    right: -50px;
    top: -200px;
}
.hp-skateline-m3{
    position: absolute;
    left: 200px;
    top: -120px;
}
.hp-skateline-m{
    display: none;
}

/* ---diy----------------------- */
.hp-diySectionAll{
    margin-top: 200px;
}
.hp-titleLine{
    width: 100%;
    border: solid 1px;
    position: relative;
}
.hp-titleLine::after {
    content:"";
    width: 100%;
    position: absolute;
    top:2px;
    border: solid 1px #75FB4E;
}
.purpleLeft{
    position: absolute;
    right:0px;
}
.hp-title{
    position:relative;
}
.hp-titlePic{
    position: absolute;
    top:20px;
    left: 15px;
}
.hp-titleGroup{
    align-items: center;
}
.hp-sectionLine{
    margin-right: 20px;
    height: 120px;
    border: solid 4px;
}
.hp-DiySection{
    position: relative;
    margin-top: 50px;
    height: 600px;
    background: url("img/hp-diySectionLine.svg") no-repeat;
}
.hp-diyImg{
    position: relative;
}
.hp-diyImg img{
    position: absolute;
}
.hp-diyImg .cruiser{
    position: absolute;
    top: 10%;
    left:40%;
    transform: rotate(45deg) translate(-50%,-50%);
}
.diyCruiser{
    height: 500px;
}
.diyDeck{
    height: 500px;
    transform: scale(-1);
}
.diyGriptape{
    transform: rotate(45deg);
    top:150px;
    right: 150px;
}
.diyTrucks{
    width: 200px;
    left:-300px;
    bottom:50px;
}
.diyWheels{
    width: 80px;
    left:-300px;
    top:300px;
}
.diyBearings{
    width: 50px;
    left:-150px;
    top:300px;
}
.bgSkate{
    width: 30vw;
    opacity:.5;
    top:40%;
    left:0px;
    transform: translateX(30%);
}

/* ----new product section--------- */
.hp-newProductSection{
    margin-top: 150px;
}
.hp-productList{
    margin-top: 50px;
}
.hp-productCard{
    margin: 0 50px;
}
.hp-productCard a{
    text-decoration: none;
}
.hp-productCard a:hover .hp-productImgBox img{
    transform: scale(1.1);
    
}
.hp-productCard:hover a{
    text-decoration: none;
    color:#743CF5;
}
.hp-productImgBox{
    height: 300px;
    display: flex;
    align-items: center;
}
.hp-productImgBox img{
    width: 100%;
    height:100%;
    object-fit: contain;
    transition: .5s;
    margin-bottom: 15px;
}

.hp-text-box{
    height:120px;
}
.hp-text{
    min-height:75px
}
.hp-price{
    font-weight: 600;
}
.hp-showbg{
    height: 150px;
    width: 150px;
    background: #ccc;
    position: absolute;
    left: 50%;
    top:75px;
    transform: translate(-50%);
    z-index: -1;
    transition: .5s;
    opacity: .2;
}


/* ---news---------------------- */
.hp-eventCard{
    border-radius: 4px;
    border: solid 1px #cccccc;
    margin: 20px 20px;
    transition: .5S;
}
.hp-eventCard.hp-eventCardShadow{
    border: solid 1px #743CF5;
}
.hp-news{
    margin: 150px 0 100px 0 ;
}
.hp-eventCardGroup{
    margin-top: 50px;
}
.hp-eventPicBox{
    height: 200px;
    overflow: hidden;
}
.hp-eventPicBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hp-eventcardinfo{
    padding: 20px;
}
.hp-eventContent{
    /* padding: 10px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
/* -------js調整的大標線--------- */