body{
    background-color: #fafafa;
}

/* ---左側選單------------------------- */
.tsai-box{
    box-shadow: 0px 3px 6px #ccc;
    background-color: #fff;
    border-radius: 4px;
    margin: 110px 0px auto 0 ;
    position: relative;
    text-align: center;
    padding: 0px;
    padding-bottom: 60px;
}
.tsai-photo{
    width: 150px;
    height: 150px;
    margin: 60px auto 16px;
    border-radius: 50%;
}
.tsai-photo img{
    width: 100%;
    object-fit: contain;
}
.tsai-data-name{
    font-weight: 700;
}
.tsai-list{
    margin-top: 48px;
}
.tsai-list-option{
    border-left: 5px solid transparent;
    display: block;
    padding: 10px 0;
    color: #333333;
    /* transition: .5s; */
}
.tsai-list-option:hover, .tsai-list-option.active{
    background: #F4F4F4;
    border-left: 5px solid #743CF5;
    color: #743CF5;
    text-decoration: none;
}
.key{
    text-decoration: underline;
    transition: .3s; 
}
.key:hover{
    color: #743CF5;
}

@media screen and (max-width:767px){
    

    .tsai-photo{
        display: none;
    }
    .tsai-list{
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }
    .tsai-list-option:hover, .tsai-list-option.active{
        background: none;
        border-left: none;
        border-bottom: 3px solid #743CF5;
        color: #743CF5;
        text-decoration: none;
        font-weight: 500;
    }
    .t-h4{
        display: none;
    }
    .tsai-box{
        box-shadow: 0px 0px 0px #FFF;
        border-radius: 4px;
        margin: 70px 0px 20px;
        position: relative;
        text-align: center;
        padding: 0px;
        /* padding-bottom: 20px; */
    }
    .tsai-box a{
        display: inline-block;
        
    }
    .tsai-box a h4{
        font-size: 20px;
        padding: 5px;
    }
    a.key{
        display: none;
        position: absolute;
        bottom: -475px;
        left: 108px;
        z-index: 3;
    }
    .tsai-box{
        background-color:transparent;
    }
    .tsai-list-option{
        padding: 10px 0 5px 0;
    }
    .tsai-logout-btn,.tsai-editmemberdata-btn{
        margin-top: 30px;
    }
}
/* --右邊 */
.tsai-box1{
    box-shadow: 0px 3px 6px #ccc;
    border-radius: 4px;
    margin: 110px 0px auto 0px;
    position: relative;
    text-align: center;
    padding: 0px;
    padding-bottom: 20px;
    background-color: #fff;
}
.tsai-box1 h3{
    text-align: left;
    margin: 15px 30px 30px;
    padding: 13px;
    background: url(../images/title-skateboard.svg) no-repeat;
    background-position: left bottom;
}
.tsai-order-category-list{
    margin: 0 50px;
}
.tsai-order-category{
    /* border: solid 1px red ; */
    padding: 10px 10px 5px 10px;
    margin-right: 10px;
    transition: .2s;
}
.tsai-order-category:hover, .tsai-order-category.active{
    color: #333333;
    border-bottom:solid 4px #743CF5;
    text-decoration: none;
}
.tsai-order-card{
    border: solid #cccccc 1px;
    border-radius: 4px;
    padding: 10px 20px;
    margin:30px 40px;
    height: 200px;
    overflow:hidden;
    position: relative;
    transition: .5s;
}
.tsai-order-card.open{
    height: 600px;
}
.order-progress{
    display: flex;
    align-items: center;
    margin: 30px 0 15px 0;
}
.order-progress-pb,.order-progress-pbb{
    margin-left: 10px;
    border-radius: 100px;
    height: 22px;
    width: 22px;
    background-color: #743CF5;
    border: solid 2px #743CF5;
    position: relative;
}
.order-progress-pb.empty,.order-progress-pbb.empty{
    background-color: transparent;
}
.order-progress-pb::after{
    content: "";
    width: 70px;
    /* height: 50px; */
    border: solid 2px #743CF5;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%)
}
.order-progress-p{
    margin-right: 50px;
}
.disappear{
    display: none;
}
.order-list-btns{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom:20px;
    right:30px;
}
.order-comment-btn a.disabled{
    pointer-events: none;
    opacity: .5;
}
.status-m{
    display: none;
}
.hide{
    display: none;
}
.noneorderlist{
    display: none;
}

@media screen and (max-width: 767px){
    .tsai-box1{
        margin: 0px;
        box-shadow: 0px 3px 6px #fff;
        }
    .tsai-box1 h3{
        display: none;
    }
    .tsai-order-category-list{
        justify-content: space-evenly;
    }
    .tsai-order-card{
        margin: 20px 10px;
        height: 145px;
    }
    .tsai-order-card.open{
        height: 560px;
    }
    .order-list-btns{
        justify-content: start;
        bottom:6px;
        right:0;
        left:20px;
    }
    .order-details{
        padding-top: 15px;
    }
    .order-progress{
        /* justify-content: center; */
        display: none;
    }
    .status-m{
        display: inline-block;
        position: absolute;
        right:10px;
        top:10px;
        padding: 5px 20px;
        color: #743CF5;
        border: solid 1px #743CF5;
        /* background-color: #cccccc; */
    }
} 