
body{
    background-color: #fafafa;
}
/* ---左側選單------------------------- */
.tsai-box{
box-shadow: 0px 3px 6px #ccc;
background-color: #fff;
border-radius: 4px;
margin: 110px 0px auto 0px;
position: relative;
text-align: center;
padding: 0px;
padding-bottom: 60px;
}
.tsai-photo{
    width: 150px;
    height: 150px;
    margin: 60px auto 16px;
    border-radius: 50%;
}
.tsai-photo img{
    width: 100%;
    object-fit: contain;
}
.tsai-data-name{
font-weight: 700;
}
.tsai-list{
margin-top: 48px;
}
.tsai-list-option{
    border-left: 5px solid transparent;
display: block;
padding: 10px 0;
color: #333333;
/* transition: .5s; */
}
.tsai-list-option:hover, .tsai-list-option.active{
background: #F4F4F4;
border-left: 5px solid #743CF5;
color: #743CF5;
text-decoration: none;
}
.key{
text-decoration: underline;
transition: .3s; 
}
.key:hover{
color: #743CF5;
}

@media screen and (max-width:767px){


.tsai-photo{
display: none;
}
.tsai-list{
margin: 0;
display: flex;
justify-content: space-evenly;
}
.tsai-list-option:hover, .tsai-list-option.active{
background: none;
border-left: none;
border-bottom: 3px solid #743CF5;
color: #743CF5;
text-decoration: none;
font-weight: 500;
}
.t-h4{
display: none;
}
.tsai-box{
box-shadow: 0px 0px 0px #FFF;
border-radius: 4px;
margin: 70px 0px 20px;
position: relative;
text-align: center;
padding: 0px;
/* padding-bottom: 20px; */
}
.tsai-box a{
display: inline-block;

}
.tsai-box a h4{
font-size: 20px;
padding: 5px;
}
a.key{
display: none;

}
.tsai-box{
background-color:transparent;
}
.tsai-list-option{
padding: 10px 0 5px 0;
}
.tsai-logout-btn,.tsai-editmemberdata-btn{
margin-top: 30px;
}
}
/* 右邊--- */
.tsai-box1{
box-shadow: 0px 3px 6px #ccc;
border-radius: 4px;
margin: 110px 0px;
position: relative;
text-align: center;
padding: 0px;
padding-bottom: 20px;
background-color: #fff;
}
.tsai-box1 h3{
text-align: left;
margin: 15px 30px 30px;
padding: 13px;
background: url(../images/title-skateboard.svg) no-repeat;
background-position: left bottom;
}
.tsai-box1 input{
position: absolute;
left:30px;
width: 270px;
}
.tsai-box1 button{
position: absolute;
left:320px;
}
.tsai-box1 ul{
margin: 110px 0px 0px;
}
.tsai-box1 ul li{
/* margin: 0px 20px; */
padding: 4px 10px;
margin: 0px 5px 0px 0px;
color: #ccc;
transition: .3s;
}
.tsai-box1 ul li:hover ,.tsai-box1 ul li.active{
border-bottom: 4px solid #743CF5;
color: #333333;
padding-bottom: 0px ;
}
.tsai-box1 ul li a{
color: #ccc;
transition: .3s;
}
.tsai-box1 ul li a:hover,.tsai-box1 ul li.active a{
color: #333333;

}
.tsai-card{
margin: 10px 30px;
border:1px solid #ccc;
border-radius: 4px;
border-left: 10px solid #743CF5;
}
.tsai-card p{
margin: 20px 30px;
text-align:left;
/* line-height: 15px; */
}
.tsai-card .border{
border-bottom: 5px solid rgb(207, 37, 37);
}
.tsai-mouse{
cursor: pointer;
}
.voucherStatus{
position: absolute;
left: 30px;
top: 155px;
}
.voucherStatus.hide{
display: none;
}
@media screen and (max-width:767px){
.tsai-box1{
margin: 10px 0px;
box-shadow:none;
}
.tsai-box1 h3{
display: none;
}
.voucherStatus{
position: absolute;
left: 30px;
top: 50px;
}
.tsai-box1 ul{
margin: 80px 0px 0px;
}
.tsai-card{
    margin: 10px 0px;
}

}