* {
    margin: 0;
    /* border: 1px solid pink */
}

html {
    overflow-x: hidden;
    position: relative;
    
}

/* --------------pc-------------- */

.nav-logo {
    width: 100px;
}

.nav-bar {
    padding-top: 10px;
    transition: .5s;
    position: fixed;
    z-index: 999;  
    width: 100VW;
}

.nav-ul {
    margin-top: 10px;
    margin-left: -20px;
    margin-bottom: 0;

}

.nav-li {
    display: inline-block;
    width: 120px;
    text-align: center;
}

.nav-li a {
    width: 120px;
    padding: 10px 10px;
}

.nav-lis a {
    padding: 10px 23px;
}

.nav-liss a {
    padding: 10px 22px 30px 22px;
}

.liah a:hover {
    width: 120px;
    color: #743CF5;
    background: url(../images/navskate.svg) center bottom no-repeat;
    background-size: contain;
    text-decoration: none;
    transition: .3s;

}

.liahs a:hover {
    width: 120px;
    padding-top: -3px;
    color: #743CF5;
    background: url(../images/navskate.svg) center top no-repeat;
    background-size: contain;
    text-decoration: none;
    transition: .3s;

}

.liahsadd {
    width: 120px;
    padding-top: -3px;
    color: #743CF5;
    background: url(../images/navskate.svg) center top no-repeat;
    background-size: contain;
    text-decoration: none;
    transition: .3s;

}

.nav-active {
    box-shadow: 0 0 5px #999;
    background: rgba(255, 255, 255, 0.842);
}

.nav-right-ul {
    margin-top: 8px;
    position: relative;
}

.nav-right-li {
    font-size: 20px;
    display: inline-block;
}

.nav-right-li a {
    padding: 10px 10px;
}

.nav-right-li a:hover {
    color: rgb(94, 50, 197);
}

.nav-list {
    position: relative;
}

.nav-hover-list {
    width: 100vw;
    left: 0;
    position: absolute;
    top: 65px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .5s;
  
}

.visibility {
    opacity: 1;
    visibility: visible;
}
.circle-num-pos{
    position: relative;
}
.circle-num{
    position: absolute;
    width: 18px;
    height:18px;
    font-size: 14px;
    text-align: center;
    color:white;
    background: #E85656;
    right:0px;
    top:-5px;
    border-radius: 50%;
}
.cart-bt{
    background: none;
    border: none;
    
}
.cart-bt:focus{
    outline: none;
}
.cart-bt i:hover{
    color:rgb(94, 50, 197) ;
    transition: .5s;
}
.cart-div{
   overflow-x: hidden;
    right: 0;
    width: 350px;
    background: rgb(255, 255, 255);
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.cart-div-show{

    opacity: 1;
    transition: .5s;
    visibility: visible;
}
.cart-tit{
    padding-left: 10px;
    padding-top: 10px;
}
.cart-div ul{
    padding-left: 0;
}
.cart-li-img-div{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}
.cart-li-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-li-slideout{
    width: 0;
    transition: .5s;
    display: block;
    overflow: hidden;
}

.pd-name{
 width: 220px;
 margin-left: 5px;
}
.cart-ntc-div{
    margin-left: 6px;
    font-weight: 600;
}
.cart-num{
    width: 25px;
    height: 20px;
    font-size: 14px;
}
.cart-num-min,.cart-num-add{
    width: 20px;
    height: 20px;
    font-size:10px ;
    background: none;
    border: none;
    padding: 2px 6px;
    line-height: 20px;
}
.cart-num-min,.cart-num-add:focus{
    outline: none;
}
.cart-num-div{
margin-left: 20px;

}

.cart-li-hr{

    padding-top: 5px;
   
}

.times-div{
    align-items: center;
    align-self: center;
}
.t-btn{
    transition: .5s;
}
.t-btn:focus{
     box-shadow: none;
}
.litext{
    margin: 0 auto;
    text-align: center;
}

.carttotalprice{
    margin-right: 10px;
}
.price-div{
    overflow: hidden;
}
.pri{
    margin-right: 10px;
}
.go-pay{
    margin: 5px  10px 10px;
    overflow: hidden;
}  

/* --------- pc hover list-------------- */

.navdivw {
    width: calc(100% / 5.5);
    padding-top: 20px;
}

.navdivw2 {
    width: calc(100% /10);
    padding-top: 20px;
}

.navdivw3 {
    width: calc(100% / 3.4);
    padding-top: 20px;
    margin-left:15px;
}

.navcor {
    flex-direction: column;
    align-items: flex-start;
}

.navco {
    flex-direction: row;
    flex-shrink: 1;
}

.navaapad {
    padding-bottom: 20px;
    margin-bottom: 20px;
  
}

.navhta {
    text-align: left;
}

.navhtac {
    align-items: center;
}

.navulw {
    padding: 0 0 0 5px;
    margin-left: 5px;
}

.navulw li {
    width: 80px;
    padding-bottom: 5px;
}

.navulwli2 {
    width: 80px;
    padding-bottom: 20px;
}

.navulleftborder {
    border-left: 1px solid #FFF
}

.navulrightborder {
    padding-right: 8px;
    border-right: 1px solid #FFF
}

.pccccc {
    width: 50px;
}

.pccccc2 {
    width: 50px;
}
.pccccc3{
    width: 32px;

}
.navpcla:hover {
    color: #75FB4E;
    text-decoration: none;
    transition: .3s;
}

.navpcla2:hover {
    color: #743CF5;
    text-decoration: none;
    transition: .3s;
}

.ndivmar {
    margin-right: 5px;
}
.naothermt{
    margin-top:-20px
}
/* --------------mobile-------------- */

.nav-m-logo {

    text-align: center;
}

.nav-m-bar {
    padding: 10px 0 0 0;
    transition: .5s;
    position: fixed;
    display: none;
    z-index: 999;
}

.nav-active {
    box-shadow: 0 0 5px #999;
    background: rgba(255, 255, 255, 0.9);
}

.mnav-right-li {
    float: right;
    font-size: 20px;
    display: block;
}

.mnav-right-li a {
    /* padding-left: 20px; */
}

.nav-m-menup {
    margin-top: 8px;
    width: 20px
}

.mobile-item-col {
    float: left;
    width: calc(100% / 3);
}

.navmlg {
    width: 80px;
    margin: auto;
}

.mul {
    margin-top: 3px
}



.nav-a:hover {
    cursor: pointer;
}

.h-nav-cw {
    color: #75FB4E;
    font-weight: 500;
}

.n-h-li a:hover {
   
    font-weight: 500;
}
.m-menu>img{
    float: left;
}
.navbt {
    
    border: 0;
    background: none;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
}
.navbt2 {
    width: 100%;
    border: 0;
    background: none;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
}
.navbt:focus ,.navbt2:focus{
    outline: none;
}

#sub-menu-3 {
    width: 100vw;
    margin-top: 10px;
    position: absolute;
    left:0;
}

.nav-m-listtit {
  width: 80vw;
  font-size: 16px;
  padding: 10px  0;
  border-bottom: 1px solid #f4f4f4;
}
.nav-m-listtitli1 {
    width: 80vw;
    font-size: 16px;
    
   
  }
  


.nav-m-listtitli {
    width: 80vw;
    text-align: center;
    /* margin-left: -20px; */
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4;
}
.nav-m-listtitli2{
    width: 80vw;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
 
}
.nav-m-listtita:hover{
    color: white;
}
.eeee {
    position: absolute;
    top:40px;
    left:0px;
    text-align: center;
    transition: .5s;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
    /* margin-top: 20px; */
    height:auto;
    min-height: calc(100vh - 50px);
    width: 100vw;
    /* z-index: 1; */
}
.eeee::-webkit-scrollbar{
    display: none;
}

#sub-menu-3-1
 {
    
    margin-left: 0;
    padding-left: 0;
}
.sub-menu-3-1-2 , .sub-menu-3-2-1{
    padding-left: 20px;
    width:75vw;
    
}
.sub-menu-3-1-1 {
    width: 80vw;
    text-align: left;
    font-size: 16px;
    margin: 0  ;
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4;
}

.navappl {
    border-bottom: 2px solid #ccc;
    
}
.navappl2 {
    border-bottom: 1px solid #ccc;
    
}
.navapp {
    margin-left: 15px;
    
    
}

.navlll {
    padding-top: 10px;
    
}

.brnavm {
    width: 100%;
    position: relative;
}

.btatt {
   position: absolute;
   right: 10px;
   top:10px;
}

.nav321 {
    padding-top: 20px;
}

.navhhd {
    width: 100%;
    text-align: left;
    padding-left: 0;
    
}

.navhhdc {
    padding-right: 10px;
}

.navvvv {
    width: 80vw;
}

.navp5 {
    padding: 5px;
    margin-left: -30px;
    border-top: 1px solid #ccc;
    width: 65vw;
}

.navptest {
    width: 20px;
}

.m-circle-num-pos{
    padding-right: 10px;
}
.cart-position{
    position: relative;
}
.m-circle-num{
    position: absolute;
    width: 18px;
    height:18px;
    font-size: 12px;
    line-height: 18px;
    font-weight: lighter;
    text-align: center;
    color:white;
    background: #E85656;
    right:-10px;
    top:-10px;
    border-radius: 50%;
}



.m-cart-div{
    top:40px;
    right: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    
}
.m-cart-div-show{
    opacity: 1;
    transition: .5s;
    visibility: visible;
}

.m-cart-ul{
    
}
.cart-tit{
    margin-left: 15px;
    margin-top: 10px;
}
.cart-div ul{
    
    padding-left: 0;
}
.cart-li-img-div{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}
.cart-li-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pd-name{
 width: 220px;
 margin-left: 5px;
}
.cart-ntc-div{
    margin-left: 6px;
    font-weight: 600;
}
.cart-num{
    width: 25px;
    height: 20px;
    font-size: 14px;
}
.cart-num-min,.cart-num-add{
    width: 20px;
    height: 20px;
    font-size:10px ;
    background: none;
    border: none;
    padding: 2px 6px;
    line-height: 20px;
}
.cart-num-min,.cart-num-add:focus{
    outline: none;
}
.cart-num-div{
    margin-left: 20px;

}
.m-cart-tit{
    margin: 15px 0 0 15px;
}
.m-cart-li-hr{   
    padding-top: 5px;  
}
.m-cart-li-div{
   margin: 0 auto;
}
.m-cart-ul{
    padding: 0;
}

.m-cart-li-img-div{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}
.m-cart-li-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.m-bbb{
    width: 70vw;
    height:23px;
}
.ardown{
    margin-top: 2px;
    font-size: 15px;
    transition: .5s;
}
.trardown{
    transform: rotate(180deg);
    transition: .5s;
}
/* ----------------------------- */

@media only screen and (max-width: 990px) {

    .nav-bar {
        display: none;
    }

    .nav-m-bar {
        display: block;
    }
}