body{
  background: white;
  
  overflow-x: hidden;
}

.accordion{
  width: 80%;
 
  margin: 0 auto;
}
.vvv{
  margin-top: 80px;
}
.QAALL{
  height: 1200px;
}
  
  .QA-title{
    margin: 0 auto;
  }
  .QA{
    background: url(../images/Group\ 446.svg) left center no-repeat;
    text-align: center;
  }
  /* .QADIV{
    margin-top: 20px;
    
  }
  .card{
    
      margin-bottom: 15px;
      padding-bottom: 2px;
  }

  .card-header{
   border: 1px solid #999;   
   border-radius: 4px;
   background: white;
  } */
  
  .btn-link:hover{
    text-decoration: none;
    color:#333
}
.to-contact{
    margin: 0 auto;
}
.to-contact-t{
    line-height:45px;
    margin-right:40px;
}
.QAc-div>ol>li{
  list-style-type: decimal;
  padding: 5px 0;
}
.QAc-div>ol{
padding: 20px;
}

#accordion-demo .accordionButton{
  margin: 30px auto 0  auto;
  position: relative;
  width: 80%;
  background: white;
  border: 1px solid #666;
  border-radius: 4px;
}
#accordion-demo .accordionContent{
  background: #f4f4f4;
  margin: 0 auto;
  width: 80%;
}
.QAc-div{
  padding: 20px;
}


/* .card{
  border:none;
}
.card-header{
  padding:20px 0;
  text-align: left;
  z-index: 10;
 
  border: 2px solid #666;
  border-radius: 4px;

}
.card-div{
  position: relative;
}
.card-header:focus{
  outline: none;
}
.card-header h2{
  padding-left:40px;
  
} */
.cir-Q{
  position: absolute;
  top:-20px;
  left: -20px;
  z-index: 20;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
}
/* 
.card-body{
  background: #f4f4f4;
  border:none;
} */
.asas{
  margin: 0;
}


@media only screen and (max-width: 415px) {
  .asas{
    margin: 0 auto;
    height: 50px;
  }
  .to-contact{
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .to-contact-t{
    margin: 0 auto;
  }

}