.nav-bar {
    opacity: 0;
    animation: opAllAni 1s ease-in-out 2s;
    animation-fill-mode:forwards;
}
header.hp-banner{
    /* border:solid 2px red; */
    /* width: 0px; */
    animation: opAni 2s ease-in-out;
}
.hp-bannerSquareBg{
    opacity: 0;
}
.nav-logo a img{
    opacity: 1;
}
.hp-skateboard2,.hp-skateboard1{
    opacity: 0;
    animation: skateAni 1.2s ease-in-out;
    animation-fill-mode:forwards;
}
.hp-skateboard2{
    right: 600px;
    top: -100px;
    animation-delay: 1s;
}
.hp-skateboard1{
    right: 200px;
    top: -100px;
    animation-delay: 1.5s;
}
.skateRunLine{
    position: absolute;
    height: 75px;
    top: 510px;
    left:0px;
    width: 0vw;
    animation: opLineAni 1s cubic-bezier(0.86, 0, 0.07, 1) 1.5s;
    animation-fill-mode:forwards;
    overflow: hidden;
}
.topGreen{
    background: #75FB4E;
}
.downBlack{
    top: 585px;
    animation: opLineAni 1s cubic-bezier(0.86, 0, 0.07, 1) 1.7s;
    animation-fill-mode:forwards;
    background: #000;
}
img.topGreenPng{
    left:-10px;
    top:0px;
    animation: opLineRun2L 5s linear infinite;
}
img.hp-skateline.downBlackPng{
    position: absolute;
    left:-10px;
    top:0px;
    transform: translateY(-50%);
    animation: opLineRun2R 5s linear infinite;
}
.hp-logo{
    opacity: 0;
    animation: opAllAni 1.2s ease-in-out 1.2s;
    animation-fill-mode:forwards;
}

@keyframes opAllAni{
    from{
        opacity: 0; 
        transform: translateY(-50%);
    }
    to{
        opacity: 1; 
        transform: translateY(0%);
    }
}
@keyframes opSquareBgAllAni{
    from{
        opacity: 0;
        height: 0%;
    }
    to{
        opacity: .5;
        height: auto;
    }
}
@keyframes skateAni{
    0%{
        opacity: 0;
        transform: translateY(50%);  
    }
    50%{
        opacity: 1;
        transform: translateY(75%);  
    }
    100%{
        opacity: 1;
        transform: translateY(0%);  
    }
}
@keyframes opAni{
    from{
        width: 0%; 
        left:50vw;
    }
    to{
        width: 100%; 
        left:0vw;
    }
}
@keyframes opLineAni{
    from{
        width: 0vw; 
    }
    to{
        width: 55vw; 
    }
}
@keyframes opLineRun2L{
    from{
        left: -10px;
    }
    to{
        left:-436px;
    }
}
@keyframes opLineRun2R{
    from{
        left:-436px;
    }
    to{
        left: -10px;
    }
}
.hp-logo{
    transform-style: preserve-3d;
}
.logo_shadow{
    transform: translateZ(-20px)
}

.indexEgg{
    position:relative;
    width: 100%;
    height: 100%;
    /* border: solid 1px red; */
    overflow: hidden;
}
.indexEgg img{
    position:absolute;
    top: 350px;
    left:500px;
    width: 30vw;
    transform: rotate(0deg);
    mix-blend-mode: screen;  
    overflow: hidden;
    opacity: 0;
}
.sugelogobanner{
    display:none;
}
a div.content.text-center.hp-text{
    margin-top: 5px;
    min-height:auto;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}
@media screen and (max-width:1240px){
    .hp-banner{
        margin-top: 0px;
        overflow: hidden;
    }
    .hide-m{
        display: none;
    }
    .hp-skateboard2{
        height: 500px;
        position: absolute;
        /* left:50%; */
        transform: translateX(-50%);
        top:25px;
    }
    .hp-logo{
        height: 200px;
        position: absolute;
        top: 180px;
        left:50%;
        transform: translateX(-50%);
    }
    .hp-bannerSquare{
        border: solid 10px #ffffff;
        left:50%;
        transform: translateX(-50%);
        height: 400px;
    }
    .hp-bannerSquareBg{
        /* opacity: 1; */
        height: 180px;
        top: 190px;
    }
}
@media screen and (max-width:1199px){
    .hp-diySectionAll{
        margin-top: 100px;
    }
    .hp-DiySection{
        background: none;
        overflow: hidden;
    }
    .hp-diyTire{
        top:-200px;
        height: 100px;
    }
    .hp-diyTire1{
        left: 0px
    }
    .hp-diyTire2{
        left: 120px
    }
    .hp-diyTire3{
        left: 240px
    }
    .hp-diyTire4{
        left: 360px
    }
    .hp-diyTrucks{
        transform: rotate(0deg);
        top:20px;
    }
    .hp-diyTrucks1{
        right:0px
    }
    .hp-diyTrucks2{
        right:250px;
        transform: rotate(180deg);
    }
    .hp-diySkate{
        transform: rotate(30deg) translateX(-50%);
        width: 800px;
        left:40%;
        top: -190px;
    }
}
@media screen and (max-width:767px){
    .hp-diySkate{
        width: 550px;
        left:40%;
        top: -140px;
    }
    .hp-diyTrucks{
        height: 200px;
        left:5%;
    }
    .hp-diyTrucks2{
        left: 50%;
    }
    .hp-diyTire{
        top:-170px;
        height: 70px;
    }
    .hp-diyTire1{
        left: 10%
    }
    .hp-diyTire2{
        left: 30%
    }
    .hp-diyTire3{
        left: 50%
    }
    .hp-diyTire4{
        left:70%
    }
}
@media screen and (max-width:992px){
    .hp-productCard{
        margin: 0 10px;
    }
}
@media screen and (max-width:767px){
    .hp-eventCard{
    margin:20px;
    }   
    nav{
        height: 60px;
    } 
    
}
@media screen and (max-width:500px){
    .hp-bannerSquareBg{
        z-index:100;
        opacity: 0;
        animation: sm_bgopAllAni 1.2s ease-in-out 1.2s;
        animation-fill-mode:forwards;
    }
    @keyframes sm_bgopAllAni{
        from{
            opacity: 0; 
            transform: translate(-50%,50%);
        }
        to{
            opacity: .5; 
            /* transform: translateY(-50%); */
        }
    }
    .hp-logo{
        z-index:100;
        animation: sm_opAllAni 1.2s ease-in-out 1.2s;
        animation-fill-mode:forwards;
    }
    @keyframes sm_opAllAni{
        from{
            opacity: 0; 
            transform: translate(-50%,50%);
        }
        to{
            opacity: 1; 
            /* transform: translateY(-50%); */
        }
    }
    .hp-skateboard2{
        opacity: 0;
    }
    .phone-skateboard2{
        width: 170px;
        height: 627px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 99;
        background: url("../images/skateboard-0.png") center no-repeat;
        /* background-attachment: fixed; */
        background-size: contain;
    }
    .skateRunLine{
        position: absolute;
        height: 75px;
        top: 60vh;
        left:-9vw;
        width: 0vw;
        animation: mobile_opLineAni 1s cubic-bezier(0.86, 0, 0.07, 1) 1.5s;
        animation-fill-mode:forwards;
        overflow: hidden;
    }
    .topGreen{
        transform: rotate(20deg);
    }
    .downBlack{
        transform: rotate(-20deg) translateY(-150px);
    }
    .hp-bannerSquare{
        display:none;
    }
    .hp-banner{
        overflow: hidden;
    }
    .hp-productImgBox img{
        height: 100%;
    }
    @keyframes mobile_opLineAni{
        from{
            width: 0vw; 
        }
        to{
            width: 150vw; 
        }
    }
    .diyCruiser,.diyDeck{
        transform: scale(.5) translate(-50%,-150%) rotate(-100deg) ;
    }
    .diyGriptape{
        transform: scale(.5) translate(-50%,-170%) rotate(-55deg) ;
    }
    .diyTrucks{
        transform: scale(.5) translate(350%,30%);
    }
    .diyWheels{
        transform: scale(.5) translate(1300%,-500%);
    }
    .diyBearings{
        transform: scale(.5) translate(1900%,-1000%);
    }
    .sugelogobanner{
        display: block;
        opacity: .3;
        width: 100vw;
        filter: brightness(2);
    }
    
}