*{
    /* border: solid 1px orange; */
    /* overflow: hidden; */
}
html,body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
    /* height: 200vh; */
}
.beginners-guide-html-bg{
    z-index: -3;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)) , url(../images/photo-1515895309288-a3815ab7cf81copy.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}
.beginners-guide-html-bg .white-trangle{
    width: 50vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    transform: scaleX(20);
    fill: #FFF;
}
.beginners-guide-html-bg .white-trangle-right{
    right: 0;
}
.item-list-nav{
    position: relative;
    top: 0;
    width: 100vw;
    height: 100px;
}
.title{
    margin-top: 20px;
    font-weight: medium;
    position: relative;
}
.title .titleSkate{
    position: absolute;
    z-index: -1;
    left: -11px;
    top:19px;
}
.beginner-guide-box{
    padding: 20px 0px;
    margin-top: 20px;
    margin-left: -30px;
}
.beginner-guide-box .flex-column{
    position: relative;
}
.beginner-guide-a{
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}
.beginner-guide-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 5px #75FB4E;
    margin: auto;
}
.beginner-guide-img::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 1px #75FB4E;
    margin: auto;
}
.beginner-guide-img-right img{
    display: inline-block;
    width: 190px;
    /* transform:translate(90px,-50px) rotate(45deg); */
}
.suge-decoration{
    margin-top: 50px;
    height: 100px;
    overflow: hidden;
}
.suge-decoration img{
    display: inline-block;
    position: absolute;
    left: 50%;
    transform:translateX(-50%) rotate(90deg) scale(.8);
    margin: auto;
    animation: suge-decorationAni 1s linear infinite;
}
@keyframes suge-decorationAni{
    from{
        top: -100px;
    }
    to{
        top: 120px;
    }
}
.beginner-guide-skate-img{
    margin-top: 100px;
}
.beginner-guide-skate-img .skill-box{
    display: inline-block;
    position: relative;
    width: 700px;
    height: 200px;
    border-radius: 50px;
    margin: auto 20px;
    overflow: hidden;
    transition: .5s cubic-bezier(0.86, 0, 0.07, 1);
    /* box-shadow: 0px 0px 0px #75FB4E; */
}
.beginner-guide-skate-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.skateskill-content{
    padding: 20px;
}
.skateskill-content .title{
    margin: auto;
    margin-top: 50px;
}
.skateskill-content .skateskill-content-p{
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.skateskill-content .skateskill-right-content{
    margin: 100px 0px 100px auto;
}
.skateskill-content .skateskill-left-content{
    margin: 100px auto 100px 0px;
}
.skateskill-content .skateskill-center-content{
    margin: 100px auto;
    margin-left: 200px;
}
.skateskill-content .skateskill-content-p span{
    font-size: 20px;
    color: #743CF5;
}
.skateskill-content-endGif{
    position: relative;
    width: 100%;
    height: 300px;
    overflow-y: hidden;
    margin-top: 40px;
    opacity: .5;
}
.skateskill-content-endGif img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    margin: auto;
}
.skateskill-content-endGif .box-shadow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.7) inset;
}
.contentAnPic_box{
    position: relative;
    margin: 50px 0;
    width: 100%;
}
.contentAnPic_box .picBox{
    position: absolute;
    top: 0;
    width: 34vw;
    height: 100%;
    overflow: hidden;
}
.contentAnPic_box .picBox img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    width: 100%;
}
.contentAnPic_box .picBox.left-picBox{
    border-radius: 80px 0px 0px 80px;
    right: -22vw;
}
.contentAnPic_box .picBox.right-picBox{
    border-radius: 0px 80px 80px 0;
    left: -22vw;
}
.contentAnPic_box .picBox.center-picBox{
    border-radius: 80px;
    left: 50%;
}
.beginner-guide-content, .container-fluid{
    animation: skateSkill-opAni .5s ease-in-out;
}
.bGuide-nav{
    animation: none;
}
@keyframes skateSkill-opAni{
    from{
        transform: translateX(150px) scale(1.2);
        opacity:0;
        filter:blur(50px)
    }
    to{
        transform: translateX(0px) scale(1);
        opacity:1;
        filter:blur(0px)  
    }
}
.skillActive{
    box-shadow: -3px 3px 0px 3px #75FB4E;
}


