*{
    /* border: solid 1px orange; */
}
html{
    height: 100%;
    background: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.5)) , url(../images/photo-1515895309288-a3815ab7cf81copy.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background: transparent;
}
html,body{
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    /* width: 100vw; */
}
.item-list-nav{
    position: relative;
    top: 0;
    width: 100vw;
    height: 100px;
}
.title{
    margin-top: 20px;
    font-weight: medium;
    position: relative;
}
.title .titleSkate{
    position: absolute;
    z-index: -1;
    left: -11px;
    top: 19px;
}
.beginner-guide-box{
    margin-top: 80px;
}
.beginner-guide-box .flex-column{
    position: relative;
}
.beginner-guide-a{
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}
.beginner-guide-img{
    width: 390px;
    height: 390px;
    border-radius: 50%;
    border: solid 5px #75FB4E;
    margin: auto;
}
.beginner-guide-img::before{
    content: "";
    position: absolute;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    border: solid 1px #75FB4E;
    margin: auto;
}
.beginner-guide-img-left img{
    display: inline-block;
    width: 120px;
    transform:translate(150px,-50px) rotate(45deg);
}
@media screen and (max-width: 500px){
    #guide-cataBox-right{
        margin-top: 50px;
    }
    .beginner-guide-img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: solid 5px #75FB4E;
        margin: auto;
    }
    .beginner-guide-img::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: solid 1px #75FB4E;
        margin: auto;
    }
    .beginner-guide-img img{
        width: 200px;
    }
    .beginner-guide-img-left img{
        display: inline-block;
        width: 65px;
        transform:translate(80px,-40px) rotate(45deg);
    }
    .beginner-guide-a{
        margin-top: -10px;
    }
}