/* Slider */
.slider{

}
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{

    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    opacity: 1;
    display: none;
    float: left;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.tt-div{
   margin: 10px 0;
   text-align: center;
   transition: .5s;
   position: relative;
   
}
.tt-div a:hover{
    transition: .5s;
    color:#743CF5;
    text-decoration: none;

}
 


/* .tt-div:hover img{
    transform: scale(1.1);
    transition: .5s;
    filter: drop-shadow(2px 8px 3px #666);
} */
.tt-div a:focus{
   outline: none   ;
 }

.ttimg{
    height:200px;
    overflow: hidden;
    text-align: center;
   
}
.ttimg>img{
   width: 100%;
   height:100%;
   object-fit: contain;
   transition: .5s;
}
.ttimg:hover >img{
   transform: scale(1.1);
 }
/* .ttimg >div{
    height: 100px;
} */
.slick-slide img
{
   display: block;
}
.slick-slide.slick-loading img
{

    display: none;
}
.slick-slide.dragging img
{
 
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{   
  
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.aa{
    margin-top: 10px;
}

.hp-showbg{
    height: 100px;
    width: 100px;
    background: #ccc;
    position: absolute;
    left: 50%;
    top:50px;
    transform: translate(-50%);
    z-index: -1;
    transition: .5s;
    opacity: .2;
}